.reminder {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  max-width: 100%;
  margin: 0.5rem 0 0 0;
  color: white;
  transition: 0.2s all linear;

  span {
    font-weight: 500;
  }

  &:hover {
    filter: brightness(0.85);
    cursor: pointer;
  }

  &__time {
    margin-right: 0.5rem;
  }
}

.container {
  position: relative;
}

.reminder:hover ~ app-reminder-tooltip {
  visibility: visible;
  opacity: 1;
}


