h1 {
  text-align: center;
}

.reminders {
  position: relative;

  &__trash {
    position: absolute;
    top: -.5rem;
    right: -1rem;
  }
}

.mat-dialog-container {
  overflow: auto !important;
}
