<h1 mat-dialog-title>
  <span>New Reminder</span>
  <button mat-mini-fab color="warn" (click)="deleteReminder()">
    <mat-icon>delete</mat-icon>
  </button></h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <form #f="ngForm" class="form camp__form">
    <mat-form-field appearance="standard">
      <mat-label>Text</mat-label>
      <input matInput placeholder="Your text here" maxlength="30" required name="text" ngModel>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>City</mat-label>
      <mat-select [(value)]="selectedCity">
        <mat-option class="city" *ngFor="let city of cities" value="{{city}}">{{city}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput required [matDatepicker]="dp" name="date" ngModel>
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <div class="group">
      <mat-form-field appearance="standard">
        <mat-label>Time</mat-label>
        <mat-select [(value)]="selectedTime" [disabled]="allday">
          <ng-container *ngFor="let hour of time.hours">
            <mat-option *ngFor="let minute of time.minutes" value="{{hour}}:{{minute}}">{{hour}}:{{minute}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-checkbox color="primary" [(ngModel)]="allday" [ngModelOptions]="{standalone: true}">All day</mat-checkbox>
    </div>
    <mat-form-field appearance="standard">
      <mat-label>Color</mat-label>
      <input matInput type="color" value="#1b6ca8" name="color" ngModel>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="close()">Cancel</button>
  <button mat-flat-button (click)="editReminder(f)" color="primary" [disabled]="!f.valid" cdkFocusInitial>Save</button>
</div>
