$blue: #1b6ca8;
$light-grey: rgba(black, 0.065);

:host {
  width: 100%;
}

.block {
  height: 100%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.2s all;

  &.other-month {
    background-color: $light-grey;
    color: grey !important;
  }

  &.weekend {
    background-color: $light-grey;
    color: $blue;
  }

  &.today {
    background-color: rgba($blue, 0.2);
  }

  &__number {
    &:hover {
      text-decoration: underline;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
