<section>
  <div class="header">
    <button class="header__button" mat-stroked-button color="primary" (click)="calendarService.previousMonth()">
      <img src="assets/icons/left.svg" alt="">
    </button>
    <h1>{{(calendarService.currentMonth$ | async).format('MMMM YYYY')}}</h1>
    <button class="header__button" mat-stroked-button color="primary" (click)="calendarService.nextMonth()">
      <img src="assets/icons/right.svg" alt="">
    </button>
  </div>
  <mat-divider></mat-divider>
  <app-calendar></app-calendar>
</section>
<app-add-reminder-button></app-add-reminder-button>
