<section>
  <div class="header">
    <button class="header__button" mat-stroked-button color="primary" (click)="calendarService.previousMonth()">
      <img src="assets/icons/left.svg" alt="">
    </button>
    <h1>{{(calendarService.currentMonth$ | async).format('MMMM YYYY')}}</h1>
    <button class="header__button" mat-stroked-button color="primary" (click)="calendarService.nextMonth()">
      <img src="assets/icons/right.svg" alt="">
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="calendar">
    <div class="calendar__header" *ngFor="let day of calendarService.getDays()">
      <span>{{day}}</span>
    </div>
    <div class="calendar__block" *ngFor="let day of calendarService.currentDays$ | async"
      [ngClass]="{'other-month': dayOfOtherMonth(day, (calendarService.currentMonth$ | async)), 'weekend': isWeekend(day)}">
      <span>{{day.format('D')}}</span>
    </div>
  </div>
</section>
