mat-divider {
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
}

.form {
  &__group {
    display: flex;
    align-items: baseline;
    padding-bottom: .5rem;
    margin-bottom: 1.34375em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }

  &__label {
    margin-right: 1rem;
    color: rgba(0, 0, 0, 0.6);
  }
}

.mat-dialog-actions {
  button {
    flex: 1;
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    flex: 1;
  }
}

mat-checkbox {
  text-align: right;
}
