:host {
  margin: 0 auto;

  @media only screen and (max-width: 1100px) {
    margin: 0;
  }
}

.calendar {
  margin: 3rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 14rem);
  grid-template-rows: min-content repeat(4, 12rem);
  grid-auto-rows: 12rem;
  border-left: 1px solid black;

  @media only screen and (max-width: 1100px) {
    grid-template-columns: repeat(7, 1fr);
  }

  @media only screen and (max-width: 800px) {
    grid-template-rows: min-content repeat(4, 10rem);
    grid-auto-rows: 10rem;
  }

  app-calendar-header:last-of-type {
    border-right: 1px solid black;
  }
}

