.calendar {
  margin: 3rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: min-content repeat(4, 12rem);
  grid-auto-rows: 12rem;
  border-left: 1px solid black;

  app-calendar-header:last-of-type {
    border-right: 1px solid black;
  }
}

