:host {
  visibility: hidden;
  opacity: 0;
}

.tooltip {
  position: absolute;
  width: 270px;
  min-height: 233px;
  background-color: #424242;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 1rem;
  z-index: 4;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  img {
    align-self: center;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
  }
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #424242 transparent transparent transparent;
}

mat-spinner {
  margin: 0 auto;
}
